/* Container for the signup form */
.signup-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

/* Heading styling */
.signup-container h1 {
  margin-top: 0;
  font-weight: bold;
  color: #333;
  text-align: left;
}

/* Paragraph styling */
.signup-container p {
  margin-bottom: 20px;
  color: #666;
}

/* Form styling */
form div {
  margin-bottom: 10px; /* Reduced margin */
  text-align: left;
}

form label {
  margin-top: 10px;
  display: block;
  margin-bottom: 5px; /* Reduced margin */
  font: 100;
  color: black;
  text-align: left;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px; /* Reduced margin */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Submit button styling */
button[type="submit"] {
  width: 400px;
  height: 52px;
  background-color: rgba(255, 128, 0, 0.9);
  color: #fff;
  padding: 10px;
 
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

button[type="submit"]:hover {
  background-color: orange;
}

/* Google sign-in button styling */
.google-button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.google-button img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Link styling */
.signup-container p a {
  text-decoration: none;
  color: orange;
}

.signup-container p a:hover {
  color: rgb(247, 194, 96);
}
.terms-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.terms-container input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-top: -7px;
}

.terms-container label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.terms-container a {
  color: orange;
  text-decoration: none;
}

.separator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.separator-container p {
  margin: 0 10px;
  color: #666;

}

.separator-container hr {
  flex: 1;
  border: 1px solid #ddd;
}